<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="html example"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sitio de Lucas</title>
</head>
<body>
    <header>
        <nav>
            <!-- Listado de links para páginas dentro del sitio -->
        </nav>
    </header>

    <!---------------------------------------------------------------------------->

    <main>
        <article>
            <!-- Bloque de contenido -->
            <h1>Título</h1>
            <section style="background-color:violet">
                <h2>Sec 1</h2>
                <!-- Divide el bloque en secciones. El elemento "section" no tiene por qué ir con "article"
                    pero generalmente van juntos y funcionan muy bien -->
            </section>
            <section style="background-color:yellowgreen">
                <h2>Sec 2</h2>
                <!-- Divide el bloque en secciones. El elemento "section" no tiene por qué ir con "article"
                    pero generalmente van juntos y funcionan muy bien -->
            </section>
            <section style="background-color:mediumturquoise">
                <img width="100px"  src="https://i.blogs.es/6f44dd/google-2015-1/450_1000.jpg">
                <aside style="background-color:navajowhite;">
                    <a href="https://www.google.com.ar" target="_blank">Google!</a>
                    <!-- Bloque reservado para información que está en la página pero no corresponde al contenido
                    específico que se está mostrando. Es útil para incluir banners de publicidad, por ejemplo. -->
                </aside>
            </section>
            <section>
            	<p>Ej: <a href="notas.html.erb">Notas</a></p>
            </section>

        </article>



        

    </main>

    <!---------------------------------------------------------------------------->

    <footer>

    </footer>

</body>
</html>