<h2>Estudiando HTML</h2>
    
        <p><b>"< hr/ >"</b>: Barra divisoria horizontal</p>
        <p>Ej:</p>
        <hr/>
        <p><b>"< p >"</b>: Agrega un párrafo</p>
        <p>&nbsp&nbsp&nbsp&nbspEj: Esto es un <b><i>párrafo</i></b>. Se usa para meter bloques de texto.</p>
    
        <p><b>"< sub >"</b>: subíndice</p>
        <p>&nbsp&nbsp&nbsp&nbspEj: La molécula de agua es H<sub>2</sub>O</p>
    
        <p><b>"< sup >"</b>: superíndice</p>
        <p>&nbsp&nbsp&nbsp&nbspEj: 10.000 = 10<sup>4</sup></p>
    
        <p><b>"< !-- -- >": comentario</b></p>

        <p><b>"< a >"</b>: links. Genera unn link a la dirección pasada como parámetro a la propiedad <b>href</b>.
            Es importante destacar que dentro del elemento "a" puede ir no sólo texto sino cualquier otro tipo de elemento HTML.
        </p>
        <p>La propiedad <b>target</b> nos permite elegir dónde se abrirá la página apuntada por el link. Si el valor de target es seteado a <i>_blank</i>
             la nueva página se abre en una nueva pestaña.</p>
        <p>Ej: <a href="https://www.google.com.ar" target="_blank">Google!</a></p>
        <p>Para movernos entre páginas que estén en el mismo directorio podemos escribir la url relativa con el nombre del archivo directamente. Con url 
            relativa nos referimos a "en relación al archivo actual".
        </p>
        <p>Ej: <a href="index.html">index.html</a></p>

        <p><b>"< img >": imagen</b>. Ubica una imagen en la página. La url relativa (o link) de la imagen se pasa como parámetro a la propiedad <b>src</b> (source).
        Si la imagen a mostrar no puede ser encontrada por alguna razón, podemos mostrar un contenido alternativo 
        utilizando la porpiedad <b>alt</b>. Usualmente se carga con un texto que describa la imagen.</p>
        <p>Podemos modificarle a las imágenes las propiedades <b>width</b> y <b>height</b> para cambiar su tamaño. Los valores se setean en pixeles, XXpx, o en porcentaje, XX%</p>

        <p><b>"< video >": video</b>. Ubica el video en la página. La url relativa (o link) del video se pasa como parámetro a la propiedad <b>src</b> (source). Entre 
            medio de las etiquetas de apertura y cierre se puede introducir texto para ser mostrado en caso que el video no pueda
            ser reproducido. Un video no podrá ser reproducido si escribimos la propiedad <b>controls</b>
        </p>

        <hr/>
        <h3>Estilos y colores</h3>
        <p>Los elementos html permiten la aplicación de estilos (styles). 
            Aplicando estilos cambia la apariencia de lo que el usuario ve.
            El estilo es una propiedad de un elemento html a la que se le pueden setear atributos.
        </p>
        <p>Ejemplos de atributos de la propiedad style son <b>color y background-color</b></p>
        <p>
            "< p <b>style</b>="backgroud-color:blue; color:white;" >texto_del_parrafo< /p >" volverá azul el fondo del texto del párrafo y blanco el texto.
        </p>
        <p>Ej:</p>
        <p style="background-color:blue; color:white;">Fondo de texto en azul</p>
        <p>Atributos de propiedad STYLE: <b>color</b>, <b>background-color</b></p>

    
        <hr>
        <h3>Formato de página web</h3>
        <p>Es importante definir el formato de una página web, para acomodar los elementos de la mejor manera posible.</p>
        <p>En general existen tres secciones en una página: <b>Cabecera</b> (header), <b>Cuerpo</b> (main) y <b>Pie</b> (footer)</p>
        <p>La <b>cabecera</b> es generalmente una <big><i>barra de navegación</i></big>, donde uno incluye una imagen y botones para desplazarse por el sitio. 
        En la mayor parte de los casos, la cabacera es compartida por todas las páginas del sitio.
        </p>

